<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :hometown %><br>
    <%= f.text_field :hometown %>
  </div>
  <div class="field">
    <%= f.label :citizenship %><br>
    <%= f.select :citizenship, User.citizenships.keys.map {|country| [country.titleize, country]}, placeholder: "Country of Citizenship" %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, User.genders.keys.map {|gender| [gender.capitalize, gender ]}, placeholder: "Gender" %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
