<div class="row">
  <div class="col m12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">
          <%= image_tag "creeper_face.jpg", id: "profile-pic" %>
          <h3 id="name"><%= @user.full_name %><h3>
        </span>
        <hr>
        <span id="user-info">
          <h6><b>Based in:&nbsp;</b>
            <small><%= @user.full_location %></small>
          </h6>
          <h6>
            <b>Current location:&nbsp;</b>
            <small>
              <%= @current_location.data['city'] %>,
              <%= @current_location.data['region_name'] %>,
              <%= @current_location.data['country_name'] %>
            </small>
          </h6>
          <h6>
            <b>Gender:&nbsp;</b>
            <small><%= @user.gender %></small>
          </h6>
          <h6>
            <b>Age:&nbsp;</b>
            <small><%= @user.age %></small>
          </h6>
        </span>
        <div id="map-canvas"></div>
      </div>
      <div class="card-action">
        <%= link_to "Something", "#" %>
        <%= link_to "Request Friend", "#" %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<%= @current_location.inspect %>
