<center>
  <br><br><br>
  <p>
    <strong>City name:</strong>
    <%= @location.city_name %>
  </p>

  <p>
    <strong>State province:</strong>
    <%= @location.state_province %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @location.country %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @location.description %>
  </p>

  <%= link_to 'Edit', edit_location_path(@location) %> |
  <%= link_to 'Back', locations_path %>
</center>

