<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= Attraction.types.key(@attraction.type_of) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @attraction.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @attraction.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @attraction.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
